extends layout

block content
  h1(style='color: #333; font-family: Arial, sans-serif;') Contact Database
  p(style='color: #666;') CREATE, VIEW, EDIT, and DELETE contacts.
  a(href='/contacts', style='color: blue; text-decoration: none;') View Contacts Database
